{{ define "main" }}

<div class="container">
  <div class="card border-0">
    <img src="/img/masthead/header.png" alt="" class="card-img-top" />
    <div class="card-body">
      <h1 class="card-title">
        Matt Workout 1
      </h1>
      <h6 class="card-text">This workout plan is meant to blah</h6>
      <div class="py-3"></div>
      <a href="" class="text-decoration-none">
        <button class="btn btn-mu py-3 px-5">
          Buy Now
        </button>
      </a>
    </div>
  </div>
</div>

{{ end }}
