{{ define "main" }}

<div class="py-3"></div>

<div class="container">
  <h1 class="text-center">Matt Ullerick</h1>
  <div class="py-1 bg-dark"></div>
</div>
<div class="container col-lg-8 col-12">
  <div class="py-3"></div>
  <h6 class="">
    My name is Matthew Ullerick, i’m 19 years old, a full-time university
    student and x4 champion bodybuilder.
    <br />
    <br />
    I’ve held a passion for bodybuilding and fitness in general ever since I
    stepped foot in the gym. Over the past three years i’ve been competing, I’ve
    been able to claim four teen bodybuilding titles and earn my qualification
    to compete with the best young bodybuilders in the U.S. this summer. It
    wasn’t easy to stay the course, especially considering I didn’t know how to
    properly train and eat, so results came slowly.
    <br />
    <br />
    Ever since I began my own research and applying it on myself, I was able to
    build a strong foundation in the fitness industry. The main goal of my
    coaching services is to give my clients a personal and “no BS” approach to
    transforming their physiques, while simultaneously strengthening their mind,
    leaving them with the information and mental toughness needed to achieve
    their goals.
    <br />
    <br />
    Best Regards,
    <br />
    Matt Ullerick
  </h6>
</div>

<div class="py-5"></div>
{{ end }}
