<div class="container-fluid bg-light text-dark text-center py-5">
  <div class="container">
    <img src="/img/logo/logo.png" alt="" class="col-4" />
  </div>
  <small class="font-weight-light"
    >I have always striven to work hard and push through the obstacles life
    throws my way.</small
  >
  <div class="py-3"></div>
  <div class="container text-center">
    <a
      href="https://www.instagram.com/ullerick/"
      target="_blank"
      class="text-decoration-none"
    >
      <i class="fab fa-instagram fa-2x px-2 text-mu"></i>
    </a>
    <a
      href="https://www.youtube.com/channel/UCg7frQAuHVHVp1qv9EqzoKA"
      target="_blank"
      class="text-decoration-none"
    >
      <i class="fab fa-youtube fa-2x px-2 text-mu"></i>
    </a>
  </div>
  <hr />
  <div class="container text-center pb-3 pt-1">
    <h6>
      Copyright © 2019, Matt Ullerick – All Rights Reserved
    </h6>
  </div>
</div>
