{{ define "main" }}

<header class="header">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-white">
      <div class="col-12">
        <h1 class="font-weight-bold">Build Your Dream Body Today</h1>
        <p class="lead">
          A local trainer improving the life of everyday people, everyday.
        </p>
        <a href="/shop/" class=""
          ><button
            class="btn btn-mu px-4 py-3"
          >
            Shop Collection
          </button></a
        >
      </div>
    </div>
  </div>
</header>

<div class="container">

</div>

{{ end }}
