{{ define "main" }}
<img src="/img/masthead/header.png" width="100%" alt="" class="img-thumnail" />

<div class="py-5"></div>
<div class="container text-center">
  <h6 class="text-uppercase">our collection</h6>
</div>
<div class="py-3"></div>
<div class="container">
  <div class="card-deck">
    {{ range.Pages }}
    <div class="card">
      <img
        src="{{ .Params.productImage }}"
        class="card-img-top"
        alt="{{ .Params.productImageAlt }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <!-- <p class="card-text">
          {{ .Params.productPrice }}
        </p> -->
        <a href="{{ .URL }}" class="text-decoration-none">
          <button class="btn btn-outline-mu px-5 py-2">Enroll</button>
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</div>

<div class="py-5"></div>
{{ end }}
