{{ define "main" }}
<div class="container-fluid bg-mu py-5">
  <div class="py-5"></div>
  <h1 class="text-white">Shop</h1>
  <div class="py-5"></div>
</div>
<div class="py-5"></div>
<div class="container text-center">
  <h6 class="text-uppercase">our collection</h6>
</div>
<div class="py-3"></div>
<div class="container">
  <div class="card-deck">
    <div class="card">
      <img
        src="/img/masthead/header.png"
        class="card-img-top"
        alt="/img/masthead/header.png"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          $49.00
        </p>
        <a href="/workout/" class="text-decoration-none">
          <button class="btn btn-outline-mu px-5 py-2">Buy</button>
        </a>
      </div>
    </div>
    <div class="card">
      <img
        src="/img/masthead/header.png"
        class="card-img-top"
        alt="/img/masthead/header.png"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          $49.00
        </p>
        <a href="/workout/" class="text-decoration-none">
          <button class="btn btn-outline-mu px-5 py-2">Buy</button>
        </a>
      </div>
    </div>
    <div class="card">
      <img
        src="/img/masthead/header.png"
        class="card-img-top"
        alt="/img/masthead/header.png"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          $49.00
        </p>
        <a href="/workout/" class="text-decoration-none">
          <button class="btn btn-outline-mu px-5 py-2">Buy</button>
        </a>
      </div>
    </div>
  </div>
</div>

{{ end }}
